<header>
	<div id="slide-out" class="side-nav fixed" style="background-image: url(../../assets/img/bg11.png);">
		<ul class="custom-scrollbar">
			<li class="logo-sn waves-effect py-3">
				<div class="text-center">
					<a routerLink="/" class="pl-0"><img src="../../assets/img/logo.png" alt="Logo"></a>
				</div>
			</li>
			<li>
				<ul class="collapsible collapsible-accordion">
					<li>
						<a routerLink="/home" class="collapsible-header waves-effect"><i
								class="w-fa fas fa-home"></i>Trang chủ</a>
					</li>
					<li>
						<a routerLink="/about" class="collapsible-header waves-effect"><i
								class="w-fa fas fa-credit-card"></i>Giới thiệu</a>
					</li>
					<li>
						<a routerLink="/contact" class="collapsible-header waves-effect"><i
								class="w-fa fas fa-phone-square-alt"></i>Liên hệ</a>
					</li>
					<li>
						<a routerLink="feedback" class="collapsible-header waves-effect"><i
								class="w-fa fas fa-comments"></i>Góp ý</a>
					</li>
					<li>
						<a href="#FAQ" class="collapsible-header waves-effect"><i
								class="w-fa fas fa-question-circle"></i>Hỏi đáp</a>
					</li>
					<li>
						<a href="" class="collapsible-header waves-effect arrow-r"><i class="w-fa fas fa-list"></i>Danh
							mục<i class="fas fa-angle-down rotate-icon"></i></a>
						<div class="collapsible-body">
							<ul>
								<li>
									<a href="#viewtest/1" class="waves-effect">
										<img src="../../assets/img/logos/logo.png"
											class="img-fluid rounded-circle hoverable" style="height: 20px;" alt="">
										Danh mục 1
									</a>
								</li>
								<li>
									<a href="#viewtest/2" class="waves-effect">
										<img src="../../assets/img/logos/logo.png"
											class="img-fluid rounded-circle hoverable" style="height: 20px;" alt="">
										Danh mục 2
									</a>
								</li>

							</ul>
						</div>
					</li>

				</ul>
			</li>
		</ul>
		<div class="sidenav-bg mask-light"></div>
	</div>
	<nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
		<div class="float-left">
			<a href="#" class="button-collapse"><i class="fas fa-bars"></i></a>
		</div>
		<div class="breadcrumb-dn mr-auto">
			<p><strong>Online Training</strong></p>
		</div>
		<div class="nav-item dropdown">
			<a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Tài khoản</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="userDropdown">
				<div>
					<a class="dropdown-item" href="#register">Đăng kí</a>
					<a class="dropdown-item" routerLink="/login">Đăng nhập</a>
					<a class="dropdown-item" href="#forgotpassword">Quên mật khẩu</a>
				</div>
				<div>
					<a class="dropdown-item" href="#updateaccount">Thông tin cá nhân</a>
					<a class="dropdown-item" href="#changepassword">Đổi mật khẩu</a>
					<a class="dropdown-item" href="#logoff">Đăng xuất</a>
				</div>
			</div>
		</div>
	</nav>
</header>