
<footer class="page-footer text-center text-md-left unique-color-dark pt-0 mt-5" style="transition: all linear 1s;">
  <div class="top-pink-footer">
      <div class="container">
          <div class="row py-4 d-flex align-items-center">
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-md-0">
                  <h6 class="mb-4 mb-md-0 white-text">Hãy liên hệ với tôi qua mạng xã hội!</h6>
              </div>
              <div class="col-md-6 col-lg-7 text-center text-md-right">
                  <a class="p-2 m-2 fa-lg fb-ic ml-0" href="#">
                      <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
                  </a>
                  <a class="p-2 m-2 fa-lg tw-ic">
                      <i class="fab fa-twitter white-text mr-lg-4"> </i>
                  </a>
                  <a class="p-2 m-2 fa-lg gplus-ic">
                      <i class="fab fa-google-plus-g white-text mr-lg-4"> </i>
                  </a>
                  <a class="p-2 m-2 fa-lg li-ic">
                      <i class="fab fa-linkedin-in white-text mr-lg-4"> </i>
                  </a>
                  <a class="p-2 m-2 fa-lg ins-ic">
                      <i class="fab fa-instagram white-text mr-lg-4"> </i>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
          <h3 class="">Made with <i class="fas fa-heart red-text mx-1"></i> by PTN (PS09235)</h3>
      </div>
  </div>
</footer>

