<div class="container">
  <div class="container-fluid pt-4 px-4">
    <div class="row bg-secondary justify-content-center mx-0">
      <div class="row g-4">
        <div class="col-sm-12">
          <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Sửa Sản phẩm</h6>
            <form>
              <div class="mb-3">
                <label for="" class="form-label">Tên sản phẩm</label>
                <input type="text" class="form-control" id="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Hình</label>
                <input type="file" class="form-control" id="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Giá</label>
                <input type="text" class="form-control" id="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Mô tả</label>
                <input type="text" class="form-control" id="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Loại sản phẩm</label>
                <input type="text" class="form-control" id="">
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Trạng thái</label>
                <input type="text" class="form-control" id="">
              </div>
              <div class="m-1 p-4 text-center">
              <button type="submit" class="btn btn-primary btn-block">Thêm</button>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>