<div class="container mt-5">
    <div class="row justify-content-end">
        <div class="col-md-10">
            <section class="px-md-5 mx-md-5 text-center dark-grey-text  rgba-white-strong rounded shadow">

                <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62867.111214232005!2d105.71765675982284!3d10.000790908321758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1716635385607!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" width="600" height="450" frameborder="0"
                        style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

                <div class="row text-center">

                    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

                        <i class="fas fa-map-marker-alt fa-2x blue-text"></i>

                        <p class="font-weight-bold my-3">Địa chỉ</p>

                        <p class="text-muted">Cao đẳng FPT polytechnic</p>

                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                        <i class="fas fa-phone fa-2x blue-text"></i>

                        <p class="font-weight-bold my-3">Số điện thoại</p>

                        <p class="text-muted">08466xxxxxx</p>

                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                        <i class="fas fa-envelope fa-2x blue-text"></i>

                        <p class="font-weight-bold my-3">E-mail</p>

                        <p class="text-muted">canhlmpc07130@fpt.edu.vn</p>

                    </div>

                </div>

            </section>
        </div>
    </div>
</div>