<div class="container-fluid pt-4 px-4">
  <div class="row vh-100 bg-secondary justify-content-center mx-0">
  <div class="row g-4">
      
      <div class="col-12">
          <div class="bg-secondary rounded h-100 p-4">
              <h6 class="mb-4">Danh sách Tài khoản</h6>
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">ID</th>
                              <th scope="col">Tên tài khoản</th>
                              <th scope="col">Tên Đăng nhập</th>
                              <th scope="col">Email</th>
                              <th scope="col">SĐT</th>
                              <th scope="col">Địa chỉ</th>
                              <th scope="col">Trạng thái</th>
                              <th scope="col">Thao tác</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th>1</th>
                              <td>Nhom4</td>
                              <td>nhom4123</td>
                              <td>Nhom4@gmail.com</td>
                              <td>0123456789</td>
                              <td>Sóc trăng</td>
                              <td>1</td>
                              <td>
                                  <button type="button" class="btn btn-info"><a><i class="fa fa-edit"></i></a></button>
                                  <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
</div>  