<div class="container mt-5">
  <div class="row justify-content-end">
    <div class="col-md-10">
<section class="dark-grey-text text-center p-5 rgba-white-strong">
  <h3 class="font-weight-bold mb-4 pb-2">Sản phẩm HOT</h3>
  <!-- Grid row -->
  <div class="row" >
      <div class="col-md-6 mb-4" style="min-height: 500px;" *ngFor="let p of products">
          <div class="view overlay rounded z-depth-1 d-flex justify-content-center white" >
              <img src="../../assets/img/{{p.imageUrl}}" class="img-fluid w-50" alt="Sample project image">
              <a>
                  <div class="mask rgba-white-slight">
                  </div>
              </a>
          </div>
          <div class="px-3 pt-3 mx-1 mt-1 pb-0">
              <a class="">
                  <h6 class="font-weight-bold mt-2 mb-3"><i class="fas fa-book-open pr-2"></i>Bài thi</h6>
              </a>
              <h4 class="font-weight-bold mb-3">{{p.productName}}</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Giá: {{ p.price | currency }}</li>
                <li class="list-group-item">Mã: {{ p.productCode }}</li>
                <li class="list-group-item">Ngày sản xuất: {{ p.releaseDate }}</li>
              </ul>
              
              <a routerLink="/products/{{p.productId}}" class="btn btn-success btn-rounded btn-md"> Chi tiết</a>
              
          </div>
      </div>
      
  </div>
  <!-- Grid row -->
</section>
</div>
</div>
</div>
