<div class="container mt-5">
  <div class="row justify-content-end">
    <div class="col-md-10">
      <section class="rounded-lg mb-4"
        style="background-image: url(../../assets/img/H4tz.gif); background-repeat: no-repeat;background-position: center; background-size: cover;">
        <div class="d-flex justify-content-center align-items-center">
          <div class="row">

            <div class="col-md-12 col-lg-4 offset-lg-1 text-center text-lg-left white-text mt-5 mt-md-0">
              <h1 class="intro-title font-weight-bold mt-sm-5 mt-0 mb-4">Chuyên cung cấp những sản phẩm ưu việt</h1>
              <h6 class="mb-4">Nếu bạn thấy hứng thú với sản phẩm của chúng tôi vui lòng đăng nhập hoặc đăng ký để mua
                hàng</h6>
              <a routerLink="/login" class="btn btn-white btn-rounded orange-text font-weight-bold ml-lg-0">Đăng
                nhập</a>
              <a routerLink="/register" class="btn btn-outline-white btn-rounded font-weight-bold">Đăng kí</a>
            </div>

            <div class="col-md-12 col-lg-6 mt-4 mt-md-0">
              <img alt="" src="https://mdbootstrap.com/img/Others/cards32.png" class="img-fluid">
            </div>

          </div>
        </div>
      </section>

    </div>
  </div>
</div>
<app-productlist></app-productlist>